page-sub-home {
	.bg {
		background: url(../assets/images/bg.jpg);
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}
	.buttonContainer {
		margin-top: 50px;
	}
	button {
		margin-bottom: 15px !important;
    	height: 70px !important;
    	background-color: $darkGreen !important;
	}
}
